.sechat-link-clear {
  text-decoration: none;
  color: inherit;
}

.v-card {
  height: 90vh;
  display: flex !important;
  flex-direction: column;
}

.v-card-text {
  flex-grow: 1;
  overflow: auto;
}

.sechat-message-input {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  opacity: 1;
}

html {
  overflow: hidden !important;
}
