.sechat-link-clear {
  text-decoration: none;
  color: inherit;
}

.sechat-v-card-full {
  height: 85vh;
  display: flex !important;
  flex-direction: column;
}

.sechat-v-card {
  height: 95vh;
  display: flex !important;
  flex-direction: column;
}

/* Scroll Bar Start */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scroll Bar End */
